.single-file-view {

  .action-container {
    display: flex;
    margin-bottom: 20px;

    > * {
      margin-right: 10px;
    }
  }

  .meta-row {
    padding: 10px 0;
    display: flex;
    //align-items: center;

    .meta-key {
      font-weight: 700;
      margin-right: 10px;
    }

    .meta-value {
      margin-right: 10px;
    }

    input {
      width: 250px;
      padding: 10px;
    }
  }

  .back-btn-container {
    margin-bottom: 20px;
    display: flex;
  }
}
