
.filerow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  background-color: #f8f8f8;
  border: 1px solid #f2f2f2;

  .filename {
    cursor: pointer;

    &:hover {
      font-weight: 700;
    }
  }

  .actions {
    display: flex;

    > * {
      margin-left: 5px;
    }
  }

  .column {
    padding: 10px 10px;
  }

  .pull-right {
    margin-left: auto;
  }
}
