.base-button {
  padding: 6px 20px;
  outline: none;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  display: block;

  &:hover {
    text-decoration: none;
    color: white;
  }
}
