.video-uploader {

  .video-upload-statistics {
    padding: 20px;

    .stat-row {
      height: 30px;
      display: flex;
      font-size: 20px;

      .stat-key {
        font-weight: 700;
        width: 240px;
      }
    }
  }

  .file-part {
    display: flex;
    background-color: white;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);

    .column {
      padding: 0 5px;
    }
  }

  .dropzone {
    text-align: center;
    font-size: 32px;
    cursor: pointer;
  }
}