.directory {
  font-size: 16px;

  .action-header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .file-headers {
    display: flex;
    font-weight: 700;
  }

  .filename {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
  }
}
